.AboutMore{
    
    height: calc(100vh);


    ::-webkit-scrollbar {
        width: 10px;
      }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #181717;
      }
       
      ::-webkit-scrollbar-thumb {
        background: #272323; 
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
      }

    .Section{

        height: calc(100vh);
        scroll-snap-type: y proximity;

        *{
            width: 100vw;
            scroll-snap-align: start;
        }
    }
}