.WhoIAm{
    background-color: #181717;
    height: 240vh;

    @media (max-width: 1366px ){
        height: 1200px;
    }

    .whobody{
        
        .title{  
            margin: 10% auto 0 45%;
            padding: 15px 0 15px 15px;
            color: white;
            text-decoration: underline;

            @media (max-width: 1366px ) {
                margin: 12vh auto 0 45%;
            }

            h1{
                color: white;

                @media (max-width: 1366px ){
                    font-size: 20px;
                }
            }
        }

        .containerone{
            color: white;
            display: flex;
            margin-top: 200px;
            width: 950px;
            height: 392px;
            box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-color: #302D2D;
            margin-left: 27%;
            flex-direction: column;

            @media (max-width: 1366px ){
                margin-top: 50px;
                width: 700px;
                height: 252px;
            }
            
            .design{
                border-left-style:solid;
                border-color: white;
                padding: 15px 0 15px 30px;
                border-width: 3px;
                margin: 10% 0 0 6% ;
                text-align: justify;

                @media (max-width: 1366px ){
                    margin-top: 5%;
                }
                
                h1{
                    font-size: 24px;
                    margin-bottom: 20px;

                    @media (max-width: 1366px ){
                        font-size: 16px;
                    }
                }
                h6{
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;
                    max-width: 800px;

                    @media (max-width: 1366px ){
                        font-size: 13px;
                        max-width: 580px;
                    }
                }
            }
            
        }
        .containertwo{
            color: white;
            display: flex;
            margin-top: 200px;
            width: 950px;
            height: 392px;
            box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-color: #302D2D;
            margin-left: 200px;
            flex-direction: column;

            @media (max-width: 1366px ){
                margin-top: 50px;
                width: 700px;
                height: 252px;
            }

            .design{
                border-left-style:solid;
                border-color: white;
                padding: 15px 0 15px 30px;
                border-width: 3px;
                margin: 10% 0 0 6% ;
                text-align: justify;

                @media (max-width: 1366px ){
                    margin-top: 5%;
                }
                
                h1{
                    font-size: 24px;
                    margin-bottom: 20px;

                    @media (max-width: 1366px ){
                        font-size: 16px;
                    }
                }
                h6{
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;
                    max-width: 800px;

                    @media (max-width: 1366px ){
                        font-size: 13px;
                        max-width: 580px;
                    }    
                }
            }
        }
        .containerthree{
            color: white;
            display: flex;
            margin-top: 200px;
            margin-bottom: 20px;
            width: 950px;
            height: 392px;
            box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-color: #302D2D;
            margin-left: 40%;
            flex-direction: column;

            @media (max-width: 1366px ){
                margin-top: 50px;
                width: 700px;
                height: 252px;
            }

            @media (max-width: 1800px ) and (min-width: 1366px ){
                margin-left: 35%;
            }

            .design{
                border-left-style:solid;
                border-color: white;
                padding: 15px 0 15px 30px;
                border-width: 3px;
                margin: 10% 0 0 6% ;
                text-align: justify;

                @media (max-width: 1366px ){
                    margin-top: 5%;
                }
                
                h1{
                    font-size: 24px;
                    margin-bottom: 20px;

                    @media (max-width: 1366px ){
                        font-size: 16px;
                    }

                }
                h6{
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;
                    max-width: 800px;

                     @media (max-width: 1366px ){
                        font-size: 13px;
                        max-width: 580px;
                    }
                }
            }
        }


    }

    
}