.Skills{
    background-color: #181717;
    height: 100vh;

    .title{
        border-left-style:solid;
        border-color: white;
        margin-top: 150px;
        margin-left: 290px;
        padding: 15px 0 15px 30px;
        color: white;
        border-width: 1px;

        @media (max-width: 1366px ){
            margin-left: 12%;
        }
        @media (max-width: 1800px ) and (min-width: 1366px ){
            margin-left: 10%;
        }

        h1{
            font-size: 36px;

            @media (max-width: 1366px ){
                font-size: 20px;
            }
            @media (max-width: 1800px ) and (min-width: 1366px ){
                font-size: 30px;
            }
        }
        
    }

    .skillsbd{
        color: white;
        display: flex;
        margin-top: 200px;
        width: 1426px;
        height: 458px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: #302D2D;
        margin-left: 200px;

        @media (max-width: 1366px ){
            width: 1026px;
            height: 338px;
            margin: 60px 0 0 160px;
        }
        @media (max-width: 1800px ) and (min-width: 1366px ){
            width: 1326px;
            height: 458px;
            margin: 120px 0 0 100px;
        }

        .left{
            border-left-style:solid;
            border-color: white;
            border-width: 1px;
            padding: 12px 0px 0px 40px;
            margin: 100px 0px 0px 140px;
            flex: 6;
            max-height: 210px;
            line-height: 35px;

            @media (max-width: 1366px ){
                margin: 60px 0px 0px 80px;
            }

            h1{
                font-weight: 300;
                margin-bottom: 20px;
                font-size: 28px;

                @media (max-width: 1366px ){
                    margin-bottom: 14px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            p{
                font-weight: 300;
                font-size: 16px;
                font-family: 'Open sans';

                @media (max-width: 1366px ){
                    margin-bottom: 14px;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        img{
            flex: 4;
            height: 458px;
            max-width: 471px;

            @media (max-width: 1366px ){
                height: 338px;
                max-width: 351px;
            }
        }
    }
}